#principal {
    margin-top: 2rem;
}
.flex-center {
    justify-content: center;
}
.input-container {
    text-align: right;
    padding: 5px;
    color: #000;
}
.button-container {
    text-align: center;
}
.button {
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: transparent;
    border-radius: 5px;
}
.button:hover {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
}
.button:active {
    box-shadow: 0 0 0 0.2rem rgb(105 28 50 / 50%);
    outline: none;
}
.button:focus {
    outline: none;
}
.dataTables_empty {
    text-align: center;
}
.hide {
    display: none;
}
.show {
    display: flex;
}
a.nav-link {
    display: flex;
}
/**
    Opciones de tamaño disponibles:
    fa-xs (extra pequeño)
    fa-sm (pequeño)
    fa-lg (grande, 33% más grande que el tamaño base)
    fa-2x (2 veces el tamaño base)
    fa-3x (3 veces el tamaño base)
    fa-4x (4 veces el tamaño base)
    fa-5x (5 veces el tamaño base)
*/

.hide__blank-page {
    display: none;
}
.logo-text {
    text-transform: capitalize;
}
.logo-text__conexp {
    color: #bc955c;
}
.logo-text__transition {
    background: linear-gradient(to right, #bc955c, var(--primary));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.logo-text__web {
    color: var(--primary);
    font-weight: bold;
}

.rol-empleado {
    text-align: center;
}

/* Solo se aplica a los labels que tienen la clase 'asterisco' */
label.asterisco:after {
    content: " *"; /* Agrega un asterisco */
    color: var(--red);  
    /* font-size: 1.3em; */
    margin-left: 5px;
}

.primary-button,
.primary-button:focus {
    background-color: transparent;
    color: var(--primary);
    border: 0.15rem solid var(--primary);
    outline: none;
}
.primary-button:hover {
    background-color: var(--primary);
    color: #fff;
}

.primary-button.disabled, .primary-button:disabled, fieldset:disabled .primary-button {
    color:  #fff;
    pointer-events: none;
    background-color: var(--tfca-red);
    border-color: var(--tfca-red);
    opacity: 0.5;
}

.secondary-button,
.secondary-button:focus {
    background-color: transparent;
    color: var(--secondary);
    border: 0.15rem solid var(--secondary);
    outline: none;
}
.secondary-button:hover {
    background-color: var(--secondary);
    color: #fff;
}

.secondary-button.disabled, .secondary-button:disabled, fieldset:disabled .secondary-button {
    color:  #fff;
    pointer-events: none;
    background-color: var(--tfca-red);
    border-color: var(--tfca-red);
    opacity: 0.5;
}

.boton-redondo {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.card-body__not-found {
    width: 50%;
    margin: 0 auto;
}
.card-title__not-found {
    font-size: 5rem;
    color: var(--primary)!important;
}
.card-subtitle__not-found {
    font-size: 2.5rem;
    color: #bc955c!important;
}
.card-content__not-found {
    font-size: 1.25rem;
}
.card-title__not-found,
.card-subtitle__not-found,
.card-content__not-found {
    text-align: center;
}

.busquedas fieldset {
    gap: 1.3rem;
    justify-content: center;
    align-items: center;
}
.busquedas fieldset .contenedor-boton {
    display: flex;
    justify-content: center;
    align-items: center;
}
.busquedas fieldset .spinner-border {
    width: 1.3rem;
    height: 1.3rem;
}
.busquedas fieldset #cambioTexto {
    font-size: 1.3rem;
}
.obligatorio {
    color: red;
    font-weight: 700;
    font-style: italic;
}
#tabla-informe-oficialia .dt-type-date {
    text-wrap: nowrap;
}
#tabla-informe-oficialia tbody tr td {
    vertical-align: middle;
}

 .medium-checkbox {
    width: 19px;
    height: 16px;
 }
 .big-checkbox {
    width: 25px;
    height: 21px;
 }


/**
* ESTILOS BOOTSTRAP
*/
.bd-callout {
    padding: 1.1rem; /*after = 1.25rem; */
    margin-top: 1.1rem; /*after = 1.25rem; */
    margin-bottom: 1.1rem; /*after = 1.25rem; */
    border: 1px solid #eee;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
    /*shadown  + rounded*/
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    border-radius: 0.25rem!important;
}
    
.bd-callout h4 {
    margin-top: 0;
    margin-bottom: .25rem;
    font-weight: 700!important;
}

.bd-callout p:last-child {
    margin-bottom: 0
}

.bd-callout code {
    border-radius: .25rem
}

.bd-callout+.bd-callout {
    margin-top: -.25rem
}

.bd-callout-info {
    border-left-color: #5bc0de
}

.bd-callout-info h4 {
    color: #5bc0de;
    font-weight: 700!important;
}

.bd-callout-warning {
    border-left-color: #f0ad4e
}

.bd-callout-warning h4 {
    color: #f0ad4e;
    font-weight: 700!important;
}

.bd-callout-gold {
    border-left-color: var(--tfca-gold);
}

.bd-callout-gold h4 {
    color: var(--tfca-gold);
    font-weight: 700!important;
}

.bd-callout-danger {
    border-left-color: var(--tfca-guinda)
}

.bd-callout-danger h4 {
    color: var(--tfca-guinda);
    font-weight: 700!important;
}

.bd-callout-primary{
border-left-color: #007bff
}

.bd-callout-primary h4 {
    color: #007bff;
    font-weight: 700!important;
}

.bd-callout-success{
    border-left-color: #28a745
}

.bd-callout-successh4 {
    color: #28a745;
    font-weight: 700!important;
}

.bd-callout-default{
    border-left-color: #6c757d
}

.bd-callout-default h4 {
    color: #6c757d;
    font-weight: 700!important;
}

.bd-callout-purple{
    border-left-color: #5f00c5
}

.bd-callout-purple h4 {
    color: #5f00c5;
    font-weight: 700!important;
}

.bd-callout-red{
    border-left-color: var(--tfca-guinda)
}

.bd-callout-red h4 {
    color: var(--tfca-guinda);
    font-weight: 700!important;
}

.bd-callout-gold{
    border-left-color: var(--tfca-gold)
}

.bd-callout-gold h4 {
    color: var(--tfca-gold);
    font-weight: 700!important;
}

.bg-red-tfca {
  background-color: #7a162f !important; }

a.bg-red-tfca:hover, a.bg-red-tfca:focus,
button.bg-red-tfca:hover,
button.bg-red-tfca:focus {
  background-color: #7a162f !important; }

.form-check-input.red-tfca {
    background-color: #ffffff;
    border-color: #919191;
}

.form-check-input.red-tfca:checked {
    background-color: var(--tfca-guinda);
    border-color: var(--tfca-guinda);
}

.nav-link.nav-tfca {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--secondary);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-tabs .nav-link.nav-tfca.active, .nav-tabs .nav-item.show .nav-link {
    color: #ffff;
    background: linear-gradient(to bottom, #691c32 40%, #ffffff 100%);
    border-color: #dee2e6 #dee2e6 #ffff;
    font-weight: 500;
}

.nav-pills .nav-link.nav-tfca.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: var(--tfca-guinda);
}

.nav-pills .nav-link.nav-tfca.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: var(--tfca-guinda);
}
.nav-pills .nav-link.nav-tfca {
    border-radius: 2px;
}

.oculto{
    display: none;
}

/*
* ============================================
* From Uiverse.io by bernethe
* ============================================
*/
.loader-circle {
  border-radius: 50%;
  border-top: 16px rgba(0,0,0,0.75) solid;
  border-left: 16px rgba(0,0,0,0.25) solid;
  border-bottom: 16px rgba(0,0,0,0.25) solid;
  border-right: 16px rgba(0,0,0,0.25) solid;
  animation: spSlices 1s infinite linear;
}

@keyframes spSlices {
  0% {
    border-top: 16px rgba(0,0,0,0.75) solid;
    border-right: 16px rgba(0,0,0,0.25) solid;
    border-bottom: 16px rgba(0,0,0,0.25) solid;
    border-left: 16px rgba(0,0,0,0.25) solid;
  }

  25% {
    border-top: 16px rgba(0,0,0,0.25) solid;
    border-right: 16px rgba(0,0,0,0.75) solid;
    border-bottom: 16px rgba(0,0,0,0.25) solid;
    border-left: 16px rgba(0,0,0,0.25) solid;
  }

  50% {
    border-top: 16px rgba(0,0,0,0.25) solid;
    border-right: 16px rgba(0,0,0,0.25) solid;
    border-bottom: 16px rgba(0,0,0,0.75) solid;
    border-left: 16px rgba(0,0,0,0.25) solid;
  }

  75% {
    border-top: 16px rgba(0,0,0,0.25) solid;
    border-right: 16px rgba(0,0,0,0.25) solid;
    border-bottom: 16px rgba(0,0,0,0.25) solid;
    border-left: 16px rgba(0,0,0,0.75) solid;
  }

  100% {
    border-top: 16px rgba(0,0,0,0.75) solid;
    border-right: 16px rgba(0,0,0,0.25) solid;
    border-bottom: 16px rgba(0,0,0,0.25) solid;
    border-left: 16px rgba(0,0,0,0.25) solid;
  }
}

/* Págima 404 */
.contenedor-404{
    max-height:80vh;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    text-align: center;
  }
  
  .cog-wheel1, .cog-wheel2{
    z-index: 3;
    transform:scale(0.7);
  }
  
  .cog1, .cog2{
    width:40vmin;
    height:40vmin;
    border-radius:50%;
    border:6vmin solid var(--tfca-gold);
    position: relative;
  }
  
  
  .cog2{
    border:6vmin solid var(--primary);
  }
  
  .top, .down, .left, .right, .left-top, .left-down, .right-top, .right-down{
    width:10vmin;
    height:10vmin;
    background-color: var(--tfca-gold);
    position: absolute;
  }
  
  .cog2 .top,.cog2  .down,.cog2  .left,.cog2  .right,.cog2  .left-top,.cog2  .left-down,.cog2  .right-top,.cog2  .right-down{
    background-color: var(--primary);
  }
  
  .top{
    top:-14vmin;
    left:9vmin;
  }
  
  .down{
    bottom:-14vmin;
    left:9vmin;
  }
  
  .left{
    left:-14vmin;
    top:9vmin;
  }
  
  .right{
    right:-14vmin;
    top:9vmin;
  }
  
  .left-top{
    transform:rotateZ(-45deg);
    left:-8vmin;
    top:-8vmin;
  }
  
  .left-down{
    transform:rotateZ(45deg);
    left:-8vmin;
    top:25vmin;
  }
  
  .right-top{
    transform:rotateZ(45deg);
    right:-8vmin;
    top:-8vmin;
  }
  
  .right-down{
    transform:rotateZ(-45deg);
    right:-8vmin;
    top:25vmin;
  }
  
  .cog2{
    position: relative;
    left:-10.2vmin;
    bottom:10vmin;
  }
  
  .first-four, .second-four{
    z-index: 2;
    color:#142833;
  }
  
  .first-four{
    position: relative;
    left:6vmin;
    font-size:40vmin;
  }
  
  .second-four{
    position: relative;
    right:18vmin;
    font-size:40vmin;
  }
  
  .wrong-para{
    font-family: "Montserrat", sans-serif;
    padding:3vmin 12vmin 3vmin 3vmin;
    font-weight:600;
    color:#092532;
    text-align: center;
  }

  /** SOLICITUDES **/
  .fecha_atencion {
    font-size: 12px;
  }
  .semaforo-contenedor,
  .atencion-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .semaforo,
  .atencion {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: transparent;
  }
  .verde {
    background-color: var(--green);
  }
  .amarillo {
    background-color: var(--yellow);
  }
  .rojo {
    background-color: var(--red);
  }
  .btn-mensajes {
    position: relative;
  }
  .nuevo_mensaje {
    top: -0.4rem;
    left: -0.4rem;
    position: absolute;
    font-size: 13pt;
    margin: 0;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    background-color: var(--tfca-verde-bg);
    color: var(--white);
    display: inline-block;
    font-weight: 700;
    text-align: center;
  }
  .nuevo_mensaje span {
    font-size: 8pt;
    position: relative;
    top: -0.35rem;
  }
  .contenedor-detalles,
  .contenedor-mensajes {
    border: 2px solid var(--tfca-guinda);
    margin: 1rem;
    max-height: 65vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    color: var(--gray-dark);
}
.contenedor-detalles>div:nth-child(2n-1){
    background-color: var(--tfca-gold);
}
.contenedor-detalles>div {
    padding: 0;
    margin: 0;
}
.contenedor-mensajes {
    display: flex;
    min-height: 20vh;
    flex-direction: column;
}
.sin-mensajes {
    text-align: center;
    padding: 0;
    margin: auto;
    color: var(--tfca-guinda);
    font-size: 16px;
    font-weight: 700;
}
.sin-mensajes p {
    margin: 0;
    height: fit-content;
}
.mensaje {
    width: 50%;
    margin: 0.5rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 20px;
}
.recibidos {
    background-color: var(--tfca-gold);
    align-self: flex-start;
}
.enviados {
    background-color: var(--tfca-guinda);
    align-self: flex-end;
    color: var(--white);
}
.mensaje__fecha {
    font-size: 12px;
    margin: 0;
}
.mensaje__texto {
    font-size: 16px;
    font-weight: 700;
}
.form-mensaje {
    margin: 1rem;
    color: var(--gray-dark);
}
.form-mensaje input {
    height: 100%;
}
.atencion {
    text-align: center;
    font-size: 18pt;
}
.color-verde {
    color: var(--green);
}
.color-amarillo {
    color: orangered;
}
.color-rojo {
    color: var(--red);
}